<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>no-mirror</id>
      <mirrorOf>!central</mirrorOf>
      <url>http://invalid.local</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>disable-nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>disable-nexus</activeProfile>
  </activeProfiles>
</settings>
